<h1>Your Profile page</h1>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<% form_tag "/confirm_number/" %>

<div class="row">
  <div class="large-12 large-centered columns">
    <table>
      <tr>
        <th>Itinerary</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @itineraries.each do |itinerary| %>
      <tr>
       <td><%= itinerary.id %></td>
       <% itinerary.flights.each do |flight| %>
         <tr>
          <td><%= flight.origin_airport.name %></td>
          <td><%= flight.destination_airport.name %></td>
          <td><% current_user.seats.where(:flight_id => flight.id).each do |seat| %></td>
            <tr>
              <td><%= seat.row_number %><%= seat.seat_letter %></td>
              <td><%= seat.confirm_number %></td>
            </tr>
            <% end %>
          </tr>
          <% end %>
       <td></td>
       <td></td>
      </tr>
    <% end %>
    </table>
  </div>
